################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VPTest/v16/TestStore/0/000.testlog
*.suo
*.sqlite
/ECommerce/.vs/ECommerce/v16/TestStore/0/000.testlog
/ECommerce/.vs/ECommerce/v16/TestStore/0/testlog.manifest
